.about {
  width: 100%;
  padding: 110px 70px 141px 70px;
  box-sizing: border-box;
}

.about__title {
  max-width: 1170px;
  text-align: left;
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
}

.about__texts {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 70px 0 110px 0;
  text-align: left;
}

.about__left-text {
  width: 550px;
  margin-right: 40px;
}

.about__right-text {
  width: 550px;
}

.about__main-text {
  width: 100%;
  color: #fff;
  margin: 0;
  margin-bottom: 26px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about__text {
  max-width: 550px;
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.about__progress {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: stretch;
  width: 100%;
}

.about__progress-left {
  width: 20%;
  background: #3ddc84;
  color: #000;
  height: 36px;
  font-size: 14px;
  padding: 9px;
  box-sizing: border-box;
}

.about__progress-right {
  width: 80%;
  height: 36px;
  background: #303030;
  font-size: 14px;
  padding: 9px;
  box-sizing: border-box;
}

.about__progress-left::after {
  content: "Back-end";
  position: absolute;
  width: 20%;
  left: 0;
  bottom: -33px;

  color: #8b8b8b;
  font-weight: 500;
  line-height: 17px;
}

.about__progress-right::after {
  content: "Front-end";
  position: absolute;
  width: 80%;
  right: 0;
  bottom: -33px;

  color: #8b8b8b;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 90px 50px 121px 50px;
  }

  .about__texts {
    padding-bottom: 93px;
  }

  .about__left-text {
    margin-right: 30px;
  }

  .about__main-text {
    margin-bottom: 22px;
  }

  .about__text {
    font-size: 12px;
  }

  .about__progress-left {
    width: 21%;
  }

  .about__progress-right {
    width: 79%;
  }

  .about__progress-left::after {
    width: 21%;
  }

  .about__progress-right::after {
    width: 79%;
  }
}

@media screen and (max-width: 540px) {
  .about {
    padding: 70px 18px 93px 18px;
  }

  .about__title {
    padding: 0 0 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__texts {
    width: 100%;
    padding: 60px 0 4px 0;
    flex-direction: column;
  }

  .about__left-text {
    width: 100%;
    margin-right: 0;
  }

  .about__right-text {
    width: 100%;
  }

  .about__main-text {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 16px;
  }

  .about__text {
    font-size: 11px;
    margin-bottom: 56px;
    line-height: 16px;
  }

  .about__progress {
    margin-top: 4px;
  }

  .about__progress-left {
    width: 40%;
    height: 35px;
    font-size: 11px;
    padding: 11px;
  }

  .about__progress-right {
    width: 60%;
    height: 35px;
    font-size: 11px;
    padding: 11px;
  }

  .about__progress-left::after {
    width: 40%;
    bottom: -25px;
  }

  .about__progress-right::after {
    width: 60%;
    bottom: -25px;
  }
}
